<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>KubeTalk</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    </head>
    <body>
        <div>
            <div class="info-header">Server:</div>
            <div id="info-anchor"></div>
        </div>
        <div class="toolbox-header">
            Toolbox:
        </div>
        <div>
            <div class="toolbox-button"> 
                <button id="crash-app">Crash app</button>
            </div>
            <div class="toolbox-button"> 
                <button id="use-mem">Use more memory!</button>
            </div>
            <div class="toolbox-button"> 
                <button id="use-cpu">Burn some cpu</button>
            </div>
    </body>
    <script src="scripts/index.js"></script>
</html>
