body {
  padding: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body .info-data {
  padding-bottom: 10px;
}


body .toolbox-button {
  display: inline-block;
}

body .info-header,
body .toolbox-header {
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 1.2em;
}
